Include /etc/ssh/sshd_config.d/*.conf

#------------------------------Binding-----------------
Port {{ sshd_config.Port|default('22') }}
#AddressFamily any
ListenAddress {{ sshd_config.ListenAddress|default('0.0.0.0') }}
#------------------------------------------------------
#ListenAddress ::

#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
#RekeyLimit default none

# Logging
#SyslogFacility AUTH
LogLevel VERBOSE
#------------------Features----------------------
# disallow automatically setting environment variables through ~/.ssh/environment
PermitUserEnvironment no
# disallow ssh-agent forwarding to prevent lateral movement
AllowAgentForwarding no
# prevent TCP ports from being forwarded over SSH tunnels
# **please be aware that disabling TCP forwarding does not prevent port forwarding**
# any user with an interactive login shell can spin up his/her own instance of sshd
AllowTcpForwarding no
# prevent StreamLocal (Unix-domain socket) forwarding
AllowStreamLocalForwarding no
# disables all forwarding features
# overrides all other forwarding switches
#DisableForwarding yes

# disallow remote hosts from connecting to forwarded ports
# i.e. forwarded ports are forced to bind to 127.0.0.1 instead of 0.0.0.0
#GatewayPorts no
# prevent tun device forwarding
PermitTunnel no
# suppress MOTD
PrintMotd no
# disable X11 forwarding since it is not necessary
X11Forwarding no
Compression no
TCPKeepAlive no
#---------------------------Authentication-----------------------------
# permit only the specified users and groups to login
{% if sshd_config.AllowUsers is defined %}
AllowUsers {{ sshd_config.AllowUsers | join(' ') }}
{% endif %}
{% if sshd_config.AllowGroups is defined %}
AllowGroups {{ sshd_config.AllowGroups | join(' ') }}
{% endif %}

# uncomment the following options to permit only pubkey authentication
# be aware that this will disable password authentication
#   - AuthenticationMethods: permitted authentication methods
#   - PasswordAuthentication: set to no to disable password authentication
#   - UsePAM: set to no to disable all PAM authentication, also disables PasswordAuthentication when set to no
AuthenticationMethods {{ sshd_config.AuthenticationMethods | join(',') }}
PasswordAuthentication {{ sshd_config.PasswordAuthentication|default('yes') }}
PubkeyAuthentication {{ sshd_config.PubkeyAuthentication }}
UsePAM yes

#LoginGraceTime 2m
PermitRootLogin {{ sshd_config.PermitRootLogin|default('without-password') }}
PermitEmptyPasswords yes 

#StrictModes yes
MaxAuthTries 3
MaxSessions 2

# challenge-response authentication backend it not configured by default
# therefore, it is set to "no" by default to avoid the use of an unconfigured backend
ChallengeResponseAuthentication no


# Expect .ssh/authorized_keys2 to be disregarded by default in future.
#AuthorizedKeysFile	.ssh/authorized_keys .ssh/authorized_keys2
#AuthorizedPrincipalsFile none

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
#HostbasedAuthentication no
# Change to yes if you don't trust ~/.ssh/known_hosts for
# HostbasedAuthentication
#IgnoreUserKnownHosts no
# Don't read the user's ~/.rhosts and ~/.shosts files
#IgnoreRhosts yes

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.

#UseDNS no
#PidFile /var/run/sshd.pid
#MaxStartups 10:30:100
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

# no default banner path
Banner /etc/issue

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem sftp	/usr/lib/openssh/sftp-server

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server
#
Match User root
	PasswordAuthentication no
	AuthenticationMethods publickey
